.footer {
}
.container {
	max-width: 900px;
	padding-bottom: 20px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
}
.column {
	font-weight: 500;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 20px;
}

.socials {
	display: inline-grid;
	gap: 15px;
	grid-template-columns: auto auto;
	align-items: center;
	justify-items: center;
	grid-template-rows: auto auto;
}
