.modal {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.2s linear all;
}
.content {
	width: 500px;
	height: 500px;
	display: flex;
	background-color: white;
	flex-direction: column;
	row-gap: 10px;
}
.input {
	display: block;
}

.open {
	opacity: 1;
	visibility: visible;
}
