.product {
	padding: 10px;
	width: 200px;
	display: block;
	transition: 0.2s linear all;
}
.product:hover {
	transform: translate(-2px, -2px);
}

.img {
	width: 100%;
	height: 222px;
	object-fit: cover;
}
.footer {
	display: flex;
	justify-content: space-between;
}
.title {
}
.price {
}
